# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Testing
.pytest_cache/
.coverage
htmlcov/

# Mypy / caches
.mypy_cache/
.cache/

# Environment variables
.env
.venv

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore compiled C extensions
*.so


.claude